<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Vòng 1</title>

   <link rel="stylesheet" href="../css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/form.css">
   <link rel="stylesheet" href="../css/index.css">
</head>
<body>

   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container">
         <a class="navbar-brand" href="/">G'Contest 2022</a>

         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
            <i class="bi bi-x-lg d-none"></i>
         </button>

      </div>
   </nav>

   <section class="container main-container col-11">
      <h2 class="my-2 text-center">Form đăng ký cuộc thi G'Contest 2022</h2>
      <hr/>
      <div class="form-container container">
         <h5 class="mt-2">1. Giới thiệu về cuộc thi</h5>

         <div class="ms-3">
            <p>Khởi đầu từ năm 2016, trải qua 3 mùa thi, G'Contest đã tạo nên những thành công vô cùng vang dội. Với sứ mệnh tạo ra một sân chơi trí tuệ chuyên nghiệp và uy tín, cùng với đó giúp các bạn sinh viên có cơ hội ứng dụng những kiến thức về kinh tế vào thực tế doanh nghiệp. </p>

            <p> Cuộc thi G'Contest, sau 3 năm vắng bóng, nay đã quay trở lại, hứa hẹn tạo nên một cuộc thi vô cùng hấp dẫn với những sự đổi mới. G'Contest 2022 chắc chắn sẽ là nơi để các bạn sinh viên học hỏi, tích lũy và bứt phá giới hạn của bạn thân.</p>
         </div>
         

         <h5>2. Timeline cuộc thi</h5>

         <ul class="mt-3">
            <li class="fw-bold">Vòng 1: Vòng đơn (25/04 - 10/05)</li>
            <p class="mt-1"> Đăng ký thông tin cá nhân, nộp CV </p>
            <li class="fw-bold">Vòng 2: Đánh giá chuyên sâu (13/05 – 20/05)</li>
            <p class="mt-1">Các đội thi làm bài trắc nghiệm nhóm đánh giá IQ, kiến thức liên quan tới chủ đề, kiến thức về kỹ năng phân tích dữ liệu,...</p>
            <li class="fw-bold">Vòng 3: Đề án (21/05 – 10/06)</li>
            <p class="mt-1">Ban Tổ chức chia thí sinh thành 8 đội, thi đấu theo 2 bảng; từ đó chọn ra 4 đội có số điểm cao nhất tiến vào vòng chung kết. Mỗi đội thi nhận 01 bộ đề (câu hỏi đề bài và data sample) của doanh nghiệp giả định, phân tích data được cung cấp để có được dynamic dashboard (data visualization)</p>
            <li class="fw-bold">Vòng 4: Chung kết (12/06)</li>
            <p class="mt-1">Đêm chung kết bao gồm 02 chặng với sự tham gia của 04 đội thi xuất sắc nhất </p>
            <p>Chặng 1: Thuyết trình đề án </p>
            <p>Chặng 2: 02 đội xuất sắc nhất sẽ tiến vào chặng 2</p>
         </ul>

         
         <div class="button-container d-flex flex-row justify-content-center">
            <a href="1" class="btn btn-primary">Tiếp tục</a>
         </div>
      </div>
   </section>
   <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>