<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="../css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/form.css">
   <link rel="stylesheet" href="../css/index.css">
</head>
<body>

   <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container">
         <a class="navbar-brand" href="/">G'Contest 2022</a>

         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
            <i class="bi bi-x-lg d-none"></i>
         </button>

      </div>
   </nav>

   <section class="main-container container p-md-4 p-3 col-11">
      <h2 class="text-center fw-bold">Form đăng ký cuộc thi G'Contest 2022</h2>
      <hr>
      <div class="form-container container"> 
         <h5 class="mt-4 mb-2 fw-bold">2. Thông tin về team</h5>
         <p>* Bắt buộc</p>

         <form action="/form/2" method="post" class="row g-3">

            <div class="ps-4 d-flex flex-column">
               <label class="form-label" for="team">Bạn đã có team chưa *</label>

               <div class="form-check">
                  <input class="form-check-input" type="radio" name="Có Team" id="team-0" value="Chưa" required>
                  <label class="form-check-label" for="team-0">Chưa có team (Ban tổ chức sẽ sắp xếp team cho bạn)</label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Có Team" id="team-1" value="Rồi">
                  <label class="form-check-label" for="team-1">Đã có team</label>
                </div>
            </div>

            <div class="button-container d-flex flex-row justify-content-center mt-3">
               <a href="javascript:history.back()" class="btn btn-secondary">Quay lại</a>
               <button type="submit" class="btn btn-primary ms-4">Tiếp tục</button>
            </div>
            
         </form>
      </div>
   </section>

 
   <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>