<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Vòng 1</title>

   <link rel="stylesheet" href="../css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/form.css">
   <link rel="stylesheet" href="../css/index.css">
</head>
<body>

   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container">
         <a class="navbar-brand" href="/">G'Contest 2022</a>

         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
            <i class="bi bi-x-lg d-none"></i>
         </button>

      </div>
   </nav>

   <section class="container main-container">
      <h2 class="my-2 text-center">Form đăng ký cuộc thi G'Contest 2022</h2>
      <hr/>
      <div class="form-container container">
         <h5 class="mt-2">1. Giới thiệu về cuộc thi</h5>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt repellat architecto molestiae id ullam magnam. Veniam mollitia praesentium tempora eos labore, rerum aspernatur quisquam, aut quos, officia non fugiat quae.</p>

         <h5>2. Timeline cuộc thi</h5>
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, explicabo iure quia at perspiciatis minus nam, sed expedita non exercitationem doloribus vero omnis voluptates. Cum odit quod in et laudantium?</p>

         <div class="button-container d-flex flex-row justify-content-center">
            <a href="1" class="btn btn-primary">Tiếp tục</a>
         </div>
      </div>
   </section>
   <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>