<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="../css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/form.css">
</head>
<body>

   <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
      <div class="container">
         <a class="navbar-brand" href="/">G'Contest</a>

         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
               <li class="nav-item mx-1">
                  <a href="#" class="nav-link text-white">Đăng ký</a>
               </li>   
               <li class="nav-item mx-1">
                  <a href="#" class="nav-link text-white">Timeline</a>
               </li>   
               <li class="nav-item mx-1">
                  <a href="#" class="nav-link text-white">Thể lệ</a>
               </li>   
               <li class="nav-item mx-1">
                  <a href="#" class="nav-link text-white">Đối tác</a>
               </li>
               <li class="nav-item mx-1">
                  <a href="#" class="nav-link text-white">Liên hệ</a>
               </li> 
               <li class="nav-item mx-1">
                  <a href="#" class="nav-link text-white">Giải thưởng</a>
               </li>     
            </ul>
         </div>
      </div>
   </nav>

   <section class="main-container container p-md-4 p-3">
      <h2 class="text-center fw-bold">Form đăng ký cuộc thi G'Contest 2022</h2>
      <hr>
      <div class="form-container container"> 
         <h5 class="mt-4 mb-2 fw-bold">3. Trả lời câu hỏi</h5>
         <p>* Bắt buộc</p>

         <form action="/form/4" method="post" class="row g-3">

            <div class="mb-3">
               <label for="question-1" class="form-label">Câu 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod praesentium, excepturi asperiores alias ducimus quia officiis ab eum laudantium at harum hic rem assumenda vel repudiandae eveniet ratione maxime quis?</label>
               <textarea class="form-control" id="question-1" name="question1" rows="3"></textarea>
             </div>

            <div class="button-container d-flex flex-row justify-content-center mt-3">
               <a href="javascript:history.back()" class="btn btn-secondary">Quay lại</a>
               <button type="submit" class="btn btn-primary ms-4">Tiếp tục</button>
            </div>
            
         </form>
      </div>
   </section>

   <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>